@font-face{
    font-family: 'Playfair_Display';
    src: url('./fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}
@font-face{
    font-family: 'Gilroy-bold';
    src: url('./fonts/Gilroy/gilroy-bold.ttf');
}
@font-face{
    font-family: 'Gilroy-semibold';
    src: url('./fonts/Gilroy/gilroy-semibold.ttf');
}
@font-face{
    font-family: 'Gilroy-medium';
    src: url('./fonts/Gilroy/gilroy-medium.ttf');
}
@font-face{
    font-family: 'Gilroy-regular';
    src: url('./fonts/Gilroy/gilroy-regular.ttf');
}
@font-face{
    font-family: 'Gilroy-black';
    src: url('./fonts/Gilroy/gilroy-black.ttf');
}
@font-face{
    font-family: 'Gilroy-thin'; 
    src: url('./fonts/Gilroy/gilroy-thin.ttf');
}